body{
  margin: 0;
}
.panel-heading {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  /*border: 3px solid black;*/

  min-width: 100%;
}
.container{
  padding: 25px;
  margin-top: 20px;
  display: inline-flex;

  margin-left: 31%;
  border: 2px solid black;
  border-radius: 4px;
}

.logo {
  display: inline;
  margin-top: 5px;
  margin-left: 5px;
  height: 55%;
  width: 55%;
}

button {
  text-align: center;
  margin-top: 10px;
}

.form-group {
  width: 500px;
}

label {
 
}

.dropZone {
  display: inline-flex;
}

.errorMsg {
  color: red;
}

#instructions {
  margin: 150px;
}

.alert {
  margin-top: 10px;
}
/*
.panel-body {
  margin: 10px;
  display: inline-block;
  border: 3px solid black;

  background-color: blue;
}
*/
