body{
  margin: 0;
}
.panel-heading {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  /*border: 3px solid black;*/

  min-width: 100%;
}
.panel-body{
  display: inline-flex;
  padding: 4px;
  margin-top: 20px;
  margin-left: 30%;
  /*margin-right: 50%;*/
  border: 2px solid black;
  border-radius: 4px;


}

.logo {
  display: inline;
  margin-top: 5px;
  margin-left: 5px;
  height: 55%;
  width: 55%;
}

button {
  margin-left: 25%;


}
/*
.panel-body {
  margin: 10px;
  display: inline-block;
  border: 3px solid black;

  background-color: blue; 
}
*/